@import url("https://fonts.googleapis.com/css?family=Josefin Sans");

  /* Setup padding for styling and make html doc fill entire viewable screen 
  for nav bar hide onclick event */

  body {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0;
    height: 100%;
  }

  html {
    margin: 0;
    height: 100%;
  }

  /* General element styling */
  div {
    text-align: justify;
    text-justify: inter-word;
  }

  #top-level-container{
    width : 85vw !important;
    text-align: center;
    font-size: xx-large;
  }

  /* Nav styling */

  /* navbar styling */
  .navbar{
    background: none !important;
    padding: 0 !important;
  }

  .navbar-nav {
    background-color: #434345;
    width: 100%;
  }
  
  .nav-item a {
    color: white;
    font-family: 'Josefin Sans', serif;
  }

  .nav-item a:visited {color: white;}   /* visited link */
  .nav-item a:hover {color: white;}     /* mouse over link */
  .nav-item a:active {color: white;}    /* selected link */

  
  .nav-item:hover:not(.active) {
    background-color: #565658;
  }
  
  .active {
    background-color:#EF7332;
  }

   /* hamburger menu styling */

  .icon-hamburger {
    font-size: 36px !important;
  }

  .icon-close-hamburger {
    font-size: 36px !important;
    left: 50%;
    top: 30%;
    position: fixed;
  }

  #nav-show-btn {
    margin-top : 0.2vh;
    background: none !important;
    border: none !important;
  }

  /* End of nav styling */